<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >
  <link rel="stylesheet" href="${url_for('static', filename='style.css')}" media="screen, print" title="Master stylesheet" charset="utf-8" />

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
  <!--[if IE]><script language="javascript" type="text/javascript" src="http://assets.okfn.org/ext/flot/0.6/excanvas.min.js"></script><![endif]-->
  <script type="text/javascript" src="http://assets.okfn.org/ext/flot/0.6/jquery.flot.min.js"></script>
  `
  <script type="text/javascript" src="${url_for('static', filename='app.js')}"></script>
</html>
