<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/" 
  xmlns:xi="http://www.w3.org/2001/XInclude"
  >
<head>
  <title>Principal European Economic Indicators - Eurostat</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <xi:include href="_media.html" />

  <script type="text/javascript">
  var datasetId = '${dataset_id}';
  var cachedir = '${url_for('static', filename='cache')}';
  jQuery(document).ready(function () {
    plotDataset(datasetId, null, cachedir);
  });
  </script>
</head>

<body>
  <div class="embed">
    <xi:include href="flot.html" />
  </div>
</body>

</html>

