<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <py:def function="page_title">Home</py:def>

  <py:def function="optional_head">
    <script type="text/javascript">
    var datasetId = '${dataset_id}';
    var cachedir = '${url_for('static', filename='cache')}';
    </script>
  </py:def>

  <div py:def="content">
    <div id="flot-chart" class="flot">
      <h2 id="chart-heading"></h2>
      <div class="flot-chart"></div>
      <div class="flot-chart-controls">
        <div class="flot-chart-type">
          Chart type:
          <input type="checkbox" value="lines" name="lines" /> Lines
          <input type="checkbox" value="points" name="points" /> Points
        </div>
        <div class="flot-select-series">
            Series:
        </div>
      </div>
    </div>

    <textarea class="embed">
<!-- OKF Eurostat PEEE -->
<iframe style="padding:0;margin:0;" height="100px" frameborder="0" width="100%" scrolling="no" src="http://eurostat.dev.okfn.org/embed?id=${dataset_id}"></iframe>
<!-- /OKF Eurostat PEEE -->
    </textarea>
  </div>

  <xi:include href="layout.html" />
</html>

