/*****************************
  * Fixes to underlying theme
  ****************************/

/***************************************
  * the chart and dataset stuff
  **************************************/

#chart-heading {
}

#dataset-listing {
  font-size: 80%;
}

div.flot {
}

.flot-chart {
  height: 350px;
  width: 100%;
}

.flot-chart-controls {
  font-size: 80%;
}

.flot-chart-type {
}

.flot-select-series ul {
  list-style-type: none;
}

.flot-select-series li {
  display: inline;
}

#content .legend table, .legend table {
  width: auto;
}

#content .legend tr td {
  padding: 1px 4px;
  margin: 0;
}

#content tr td.legendColorBox > div {
  margin-bottom: -2px;
}

.embed .flot-select-series {
  display: none;
}

/*************************
  * Index page
  */

textarea#embed-code {
  margin-top: 20px;
  width: 95%;
  height: 150px;
  font-size: 80%;
}

