/*****************************
  * Fixes to underlying theme
  ****************************/

#primary {
  display: none;
}

#content {
  margin-right: 0;
}

/***************************************
  * the chart and dataset stuff
  **************************************/

#dataset-listing {
  float: right;
  width: 25%;
  font-size: 80%;
}

div.flot {
}

.flot-chart {
  height: 250px;
  width: 70%;
}

.flot-chart-controls {
  font-size: 80%;
}

.flot-chart-type {
}

.flot-select-series ul {
  list-style-type: none;
}

.flot-select-series li {
  display: inline;
}

#content .legend table, .legend table {
  width: auto;
}

#content .legend tr td {
  padding: 1px 4px;
  margin: 0;
}

#content tr td.legendColorBox > div {
  margin-bottom: -2px;
}

.embed .flot-select-series {
  display: none;
}

/*************************
  * Index page
  */

textarea#embed-code {
  margin-top: 20px;
  width: 80%;
  height: 120px;
  font-size: 80%;
}

